ul{
  margin: 0;
  padding: 0;
  background: #333;
  overflow: hidden;
}
ul li{
  float: left;
  list-style-type: none;
}
ul li a{
  color:#fff;
  text-decoration: none;
  text-transform: capitalize;
  padding: 12px 16px;
  display: inline-block;
}
ul li:hover{
  background: red;
}
ul li:hover .down{
  display: block;
}
.down a{
  display: block;
  color: #333;
}
.down{
  background: #fff;
  box-shadow: 0px 3px 3px 5px #f1f1f1;
  position: absolute;
  display: none;
}
.down a:hover{
  background: #f9f9f9;
}
